.btn {
  display: inline-block;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;

  font-size: map-get($font-sizes, small);
  text-transform: uppercase;

  cursor: pointer;
  background-color: transparent;

  transition: $btn-transition;

  &-sm {
    padding: 16px 30px;
  }

  &-pill {
    border-radius: $btn-pill-radius;
  }

  &-fill {
    display: block;
  }

  &-white-outline {
    @include button-outline-variant($white);
  }

  &-dark-gray-outline {
    @include button-outline-variant($dark-gray);
  }

  &-primary {
    @include button-variant($primary, $main-text-color, $primary-hover);
  }
}
