.btn {
  display: inline-block;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;

  font-size: map-get($font-sizes, small);
  text-transform: uppercase;

  cursor: pointer;
  background-color: transparent;

  transition: $btn-transition;

  &-sm {
    padding: 16px 30px;
  }

  &-pill {
    border-radius: $btn-pill-radius;
  }

  &-fill {
    display: block;
  }

  @each $name, $color in $buttons-outline {
    &-#{$name}-outline {
      @include button-outline-variant($color);
    }
  }

  @each $name, $options in $buttons {
    &-#{$name} {
      @include button-variant(map-get($options, color), map-get($options, text-color), map-get($options, hover-color))
    }
  }
}
