.discography-item {
  &-cover {
    display: block;
    width: 250px;
    height: 250px;
    margin-bottom: 18px;

    @include media(mobile) {
      width: 137px;
      height: 137px;
    }
  }

  &-album-name {
    font-size: 18px;
  }
}
