.navigation {
  @include media(mobile) {
    margin-bottom: 18px;
  }

  &-logo-icon {
    width: map-get($spacers, 2);
    height: map-get($spacers, 2);
  }

  &-link {
    color: $link-color;
    line-height: map-get($font-sizes, 1);

    transition: color 0.25s;

    &:hover {
      color: $link-hover-color;
    }

    &--active {
      color: $link-active-color;
    }
  }
}
