.navigation {
  &-logo-icon {
    width: map-get($spacers, 2);
    height: map-get($spacers, 2);
  }

  &-link {
    color: $link-color;

    transition: color 0.25s;

    &:hover {
      color: $link-hover-color;
    }

    &--active {
      color: $link-active-color;
    }
  }
}
