.news-item {
  display: grid;
  column-gap: 50px;
  grid-template-rows: min-content auto;

  &--img-left {
    grid-template-areas: "image body" "image footer";
    grid-template-columns: min-content auto;
  }

  &--img-right {
    grid-template-areas: "body image" "footer image";
    grid-template-columns: auto min-content;
  }

  @include media(mobile) {
    grid-template-areas: "image image" "body body" "footer footer";
    column-gap: 0;

    &-image {
      margin-bottom: 50px;
      max-width: 100%;
    }
  }

  &-image {
    grid-area: image;
  }

  &-body {
    margin-bottom: map-get($spacers, 5);
    grid-area: body;

    @include media(mobile) {
      margin-bottom: map-get($spacers, 2);
    }
  }

  &-footer {
    grid-area: footer;
  }

  &-title {
    margin-bottom: 30px;

    font-size: 30px;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.5;

    @include media(mobile) {
      margin-bottom: map-get($spacers, 1);

      font-size: map-get($font-sizes, 1);
    }
  }

  &-author {
    @include flex(16px, row, center);
    margin-bottom: map-get($spacers, 5);
  }

  &-author-name {
    color: $orange;
    font-size: 12px;
    text-transform: uppercase;
  }

  &-date {
    font-size: 12px;
  }
}
