.page-description {
  padding: 200px 0;

  text-align: center;

  &--main {
    @include bg-image("../images/banner.png");
  }

  &--artist {
    @include bg-image("../images/Morten Harket.png");
  }

  @include media(mobile) {
    padding: 250px 0 200px;
  }
}
