.popular-tracks {
  &-cover {
    width: 55px;
    height: 55px;
  }

  &-info {
    display: grid;
    grid-template-areas: "cover song time" "cover author time";
    grid-template-columns: min-content auto min-content;
    align-items: center;
    width: 100%;
    column-gap: 15px;

    font-size: 12.8px;
  }

  &-cover {
    grid-area: cover;
  }

  &-song {
    grid-area: song;
  }

  &-author {
    grid-area: author;
  }

  &-time {
    grid-area: time;
  }
}
