.pricing-item {
  padding: 1.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  max-width: 366px;

  color: $main-text-color;
  text-align: center;

  &-title {
    margin-bottom: 200px;

    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
  }

  &-value {
    @include flex(map-get($spacers, 1), row, flex-start, center);
    margin-bottom: map-get($spacers, 4);

    font-size: map-get($font-sizes, 7);
    line-height: map-get($font-sizes, 7);
  }

  &-currency {
    font-size: map-get($font-sizes, 3);
    line-height: 1.5;
    text-transform: uppercase;
  }

  &-footer {
    margin-bottom: map-get($spacers, 4);

    font-size: 12.8px;
  }

  &--free {
    @include bg-image("../images/subscribe_1.png")
  }

  &--standart {
    @include bg-image("../images/subscribe_2.png")
  }

  &--premium {
    @include bg-image("../images/subscribe_3.png")
  }
}
