.pricing-card {
  box-sizing: border-box;
  max-width: 366px;
  padding: map-get($spacers, 2) map-get($spacers, 2);
  border-radius: map-get($spacers, 1);

  color: $main-text-color;
  text-align: center;

  @include media(mobile) {
    max-width: none;
    padding: map-get($spacers, 1) map-get($spacers, 2) map-get($spacers, 2);
  }

  &-title {
    margin-bottom: 200px;

    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    @include media(mobile) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &-value {
    @include flex(map-get($spacers, 1), row, flex-start, center);
    margin-bottom: map-get($spacers, 4);

    font-size: map-get($font-sizes, 7);
    line-height: map-get($font-sizes, 7);
  }

  &-currency {
    font-size: map-get($font-sizes, 3);
    line-height: 1.5;
    text-transform: uppercase;
  }

  &-footer {
    margin-bottom: map-get($spacers, 4);

    font-size: 12.8px;
  }

  &--free {
    @include bg-image("../images/subscribe_1.png");
  }

  &--standard {
    @include bg-image("../images/subscribe_2.png");
  }

  &--premium {
    @include bg-image("../images/subscribe_3.png");
  }
}
