.subscribe-form {
  display: grid;
  grid-template-areas: "name email" "btn btn";
  gap: map-get($spacers, 2);
  max-width: 570px;
  margin: 0 auto;

  @include media(custom, 610px) {
    grid-template-areas: "name name" "email email" "btn btn";
    gap: 1.5rem;
  }

  &-field {
    min-width: 270px;
    border: 2px solid $dark-gray;
    border-radius: 3px;
    min-height: 50px;
    padding: 0 20px;

    color: $input-color;
    font-weight: 700;
    font-size: map-get($font-sizes, small);

    background: transparent;

    transition: $form-transition;

    &:hover {
      border: $input-border-hover;

      background-color: $input-background-hover;
    }

    &:focus {
      border: $input-border-focus;

      background-color: $input-background-focus;
    }

    &::placeholder {
      opacity: 1;
    }
  }

  &-field--name {
    grid-area: name;
  }

  &-field--email {
    grid-area: email;
  }

  &-btn {
    grid-area: btn;
  }
}
