$utilities: (
  "tt": (
    property: text-transform,
    values: uppercase capitalize
  ),
  "fs": (
    property: font-size,
    values: $font-sizes
  ),
  "fw": (
    property: font-weight,
    values: normal bold bolder 400 500 600 700 800,
    responsive: true
  ),
  "m": (
    property: margin,
    values: $spacers
  ),
  "mb": (
    property: margin-bottom,
    values: $spacers,
    responsive: true
  ),
  "me": (
    property: margin-right,
    values: $spacers,
    responsive: true
  ),
  "mt": (
    property: margin-top,
    values: (1: map-get($spacers, 1), 5: map-get($spacers, 5)),
    responsive: true
  ),
  "pt": (
    property: padding-top,
    values: (10: map-get($spacers, 10))
  ),
  "color": (
    property: color,
    values: (
      white: $white
    )
  ),
  "text": (
    property: text-align,
    values: center start
  ),
  "d": (
    property: display,
    values: flex block
  ),
  "flex": (
    property: flex-direction,
    values: column row column-reverse,
    responsive: true
  ),
  "justify-content": (
    property: justify-content,
    values: center,
    responsive: true
  ),
  "align-items": (
    property: align-items,
    values: center flex-start,
    responsive: true
  ),
  "row-gap": (
    property: row-gap,
    values: $spacers,
    responsive: true
  ),
  "column-gap": (
    property: column-gap,
    values: $spacers
  ),
  "align-self": (
    property: align-self,
    values: flex-start
  )
);
