@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
}
/** THEME VARS **/
/** GRID **/
/** COMPONENTS **/
/** SIZES **/
/** These values are used to generate utilities. Also you need to use it for our own css components **/
.tt-uppercase {
  text-transform: uppercase !important;
}

.tt-capitalize {
  text-transform: capitalize !important;
}

.fs-small {
  font-size: 13px !important;
}

.fs-0 {
  font-size: 0 !important;
}

.fs-1 {
  font-size: 16px !important;
}

.fs-2 {
  font-size: 24px !important;
}

.fs-3 {
  font-size: 32px !important;
}

.fs-4 {
  font-size: 40px !important;
}

.fs-5 {
  font-size: 48px !important;
}

.fs-6 {
  font-size: 56px !important;
}

.fs-7 {
  font-size: 64px !important;
}

.fs-8 {
  font-size: 78px !important;
}

.fw-normal {
  font-weight: normal !important;
}

.fw-bold {
  font-weight: bold !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 16px !important;
}

.m-2 {
  margin: 24px !important;
}

.m-3 {
  margin: 32px !important;
}

.m-4 {
  margin: 40px !important;
}

.m-5 {
  margin: 48px !important;
}

.m-6 {
  margin: 56px !important;
}

.m-7 {
  margin: 64px !important;
}

.m-8 {
  margin: 78px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 16px !important;
}

.mb-2 {
  margin-bottom: 24px !important;
}

.mb-3 {
  margin-bottom: 32px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mb-5 {
  margin-bottom: 48px !important;
}

.mb-6 {
  margin-bottom: 56px !important;
}

.mb-7 {
  margin-bottom: 64px !important;
}

.mb-8 {
  margin-bottom: 78px !important;
}

@media screen and (max-width: 1239.97px) {
  .mb-mobile-0 {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 1239.97px) {
  .mb-mobile-1 {
    margin-bottom: 16px !important;
  }
}

@media screen and (max-width: 1239.97px) {
  .mb-mobile-2 {
    margin-bottom: 24px !important;
  }
}

@media screen and (max-width: 1239.97px) {
  .mb-mobile-3 {
    margin-bottom: 32px !important;
  }
}

@media screen and (max-width: 1239.97px) {
  .mb-mobile-4 {
    margin-bottom: 40px !important;
  }
}

@media screen and (max-width: 1239.97px) {
  .mb-mobile-5 {
    margin-bottom: 48px !important;
  }
}

@media screen and (max-width: 1239.97px) {
  .mb-mobile-6 {
    margin-bottom: 56px !important;
  }
}

@media screen and (max-width: 1239.97px) {
  .mb-mobile-7 {
    margin-bottom: 64px !important;
  }
}

@media screen and (max-width: 1239.97px) {
  .mb-mobile-8 {
    margin-bottom: 78px !important;
  }
}

.color-white {
  color: #ffffff !important;
}

.text-center {
  text-align: center !important;
}

.text-start {
  text-align: start !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

body {
  color: #cacaca;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}
@media screen and (max-width: 1239.97px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
}
@media screen and (max-width: 1239.97px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

a {
  color: #cacaca;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1239.97px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}

.section {
  padding: 100px 0 0;
}
.section--same-vertical {
  padding: 100px 0;
}
.section-title {
  margin-bottom: 45px;
  text-align: center;
}
.section--artist .section-title {
  text-align: start;
}
.section-content {
  display: flex;
  flex-direction: column;
}
.section-content--row {
  flex-direction: row;
}
@media screen and (max-width: 1239.97px) {
  .section-content--row {
    flex-direction: column;
  }
}
@media screen and (max-width: 1239.97px) {
  .section-content--mobile-reverse {
    flex-direction: column-reverse;
  }
}
.section-content--two-rows > * {
  flex-basis: 50%;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}
@media screen and (max-width: 1239.97px) {
  .footer-content {
    flex-direction: column;
  }
}

.navigation {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 90px;
}
@media screen and (max-width: 840px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }
}
.navigation-logo {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;
}
@media screen and (max-width: 840px) {
  .navigation-logo {
    margin-bottom: 16px;
  }
}
.navigation-logo-icon {
  width: 24px;
  height: 24px;
}
.navigation-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
}
@media screen and (max-width: 840px) {
  .navigation-menu {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
  }
}
.navigation-menu-link {
  color: #cacaca;
  font-size: 11px;
  transition: color 0.25s;
}
.navigation-menu-link:hover {
  color: #e4e4e4;
}
.navigation-menu-link--active {
  color: #ffffff;
}
.navigation-search {
  margin-left: auto;
  padding: 3px 8px;
  border: 2px solid transparent;
  border-radius: 50px;
  color: #757575;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #3c3b3d;
  transition: color 0.25s, border 0.25s, background-color 0.25s;
}
@media screen and (max-width: 840px) {
  .navigation-search {
    width: 100%;
    margin: 0;
  }
}
.navigation-search:hover {
  border-color: #757575;
}
.navigation-search:focus {
  border-color: #34c176;
  color: #cacaca;
}

.subscribe-form {
  display: grid;
  grid-template-areas: "name email" "btn btn";
  gap: 24px;
  max-width: 570px;
  margin: 0 auto;
}
@media screen and (max-width: 610px) {
  .subscribe-form {
    grid-template-areas: "name name" "email email" "btn btn";
  }
}
.subscribe-form-field {
  min-width: 270px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  min-height: 50px;
  padding: 0 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px;
  background: transparent;
  transition: color 0.25s, border 0.25s, background-color 0.25s;
}
.subscribe-form-field:hover {
  border: 2px solid #cacaca;
  background-color: rgba(255, 255, 255, 0.1);
}
.subscribe-form-field:focus {
  border: 2px solid #34c176;
  background-color: rgba(255, 255, 255, 0.15);
}
.subscribe-form-field::placeholder {
  opacity: 1;
}
.subscribe-form-field--name {
  grid-area: name;
}
.subscribe-form-field--email {
  grid-area: email;
}
.subscribe-form-btn {
  grid-area: btn;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.25s, background-color 0.25s;
}
.btn-sm {
  padding: 16px 30px;
}
.btn-sm-wide {
  padding: 16px 40px;
}
.btn-pill {
  border-radius: 32px;
}
.btn-fill {
  display: block;
}
.btn-icon {
  padding: 20px 30px 20px 66px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 30px 20px;
}
.btn-icon > span {
  vertical-align: middle;
}
.btn-icon--play {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve' fill='%23ffffff'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M256,0C114.833,0,0,114.844,0,256s114.833,256,256,256s256-114.844,256-256S397.167,0,256,0z M256,490.667 C126.604,490.667,21.333,385.396,21.333,256S126.604,21.333,256,21.333S490.667,126.604,490.667,256S385.396,490.667,256,490.667 z'/%3E%3Cpath d='M357.771,247.031l-149.333-96c-3.271-2.135-7.5-2.25-10.875-0.396C194.125,152.51,192,156.094,192,160v192 c0,3.906,2.125,7.49,5.563,9.365c1.583,0.865,3.354,1.302,5.104,1.302c2,0,4.021-0.563,5.771-1.698l149.333-96 c3.042-1.958,4.896-5.344,4.896-8.969S360.813,248.99,357.771,247.031z M213.333,332.458V179.542L332.271,256L213.333,332.458z' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.btn-icon--heart {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 -28 512.001 512' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff'%3E%3Cpath d='m256 455.515625c-7.289062 0-14.316406-2.640625-19.792969-7.4375-20.683593-18.085937-40.625-35.082031-58.21875-50.074219l-.089843-.078125c-51.582032-43.957031-96.125-81.917969-127.117188-119.3125-34.644531-41.804687-50.78125-81.441406-50.78125-124.742187 0-42.070313 14.425781-80.882813 40.617188-109.292969 26.503906-28.746094 62.871093-44.578125 102.414062-44.578125 29.554688 0 56.621094 9.34375 80.445312 27.769531 12.023438 9.300781 22.921876 20.683594 32.523438 33.960938 9.605469-13.277344 20.5-24.660157 32.527344-33.960938 23.824218-18.425781 50.890625-27.769531 80.445312-27.769531 39.539063 0 75.910156 15.832031 102.414063 44.578125 26.191406 28.410156 40.613281 67.222656 40.613281 109.292969 0 43.300781-16.132812 82.9375-50.777344 124.738281-30.992187 37.398437-75.53125 75.355469-127.105468 119.308594-17.625 15.015625-37.597657 32.039062-58.328126 50.167969-5.472656 4.789062-12.503906 7.429687-19.789062 7.429687zm-112.96875-425.523437c-31.066406 0-59.605469 12.398437-80.367188 34.914062-21.070312 22.855469-32.675781 54.449219-32.675781 88.964844 0 36.417968 13.535157 68.988281 43.882813 105.605468 29.332031 35.394532 72.960937 72.574219 123.476562 115.625l.09375.078126c17.660156 15.050781 37.679688 32.113281 58.515625 50.332031 20.960938-18.253907 41.011719-35.34375 58.707031-50.417969 50.511719-43.050781 94.136719-80.222656 123.46875-115.617188 30.34375-36.617187 43.878907-69.1875 43.878907-105.605468 0-34.515625-11.605469-66.109375-32.675781-88.964844-20.757813-22.515625-49.300782-34.914062-80.363282-34.914062-22.757812 0-43.652344 7.234374-62.101562 21.5-16.441406 12.71875-27.894532 28.796874-34.609375 40.046874-3.453125 5.785157-9.53125 9.238282-16.261719 9.238282s-12.808594-3.453125-16.261719-9.238282c-6.710937-11.25-18.164062-27.328124-34.609375-40.046874-18.449218-14.265626-39.34375-21.5-62.097656-21.5zm0 0'/%3E%3C/svg%3E");
}
.btn-white-outline {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-dark-gray-outline {
  border: 1px solid #cacaca;
  color: #cacaca;
}
.btn-dark-gray-outline:hover {
  background-color: rgba(202, 202, 202, 0.1);
}
.btn-primary {
  color: #ffffff;
  background-color: #34c176;
}
.btn-primary:hover {
  background-color: #2fad6a;
}
.btn-red {
  color: #ffffff;
  background-color: #95390c;
}
.btn-red:hover {
  background-color: #7d300a;
}
.btn-purple {
  color: #ffffff;
  background-color: #5328a1;
}
.btn-purple:hover {
  background-color: #48238d;
}

.page-description {
  padding: 200px 0;
  text-align: center;
}
.page-description--main {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
.page-description--artist {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1239.97px) {
  .page-description {
    padding: 250px 0;
  }
}

.pricing-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1239.97px) {
  .pricing-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 50px;
  }
}

.pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
  color: #ffffff;
  text-align: center;
}
.pricing-item-title {
  margin-bottom: 200px;
  margin-top: 24px;
  font-weight: 700;
}
.pricing-item-value {
  font-size: 64px;
}
.pricing-item-currency {
  font-size: 32px;
  text-transform: uppercase;
  vertical-align: text-top;
}
.pricing-item-footer {
  margin-bottom: 64px;
  font-size: 13px;
}
.pricing-item--free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}
.pricing-item--standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}
.pricing-item--premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.news-item {
  display: grid;
  column-gap: 50px;
  row-gap: 24px;
  grid-template-rows: min-content auto;
}
.news-item--img-left {
  grid-template-areas: "image body" "image footer";
  grid-template-columns: min-content auto;
}
.news-item--img-right {
  grid-template-areas: "body image" "footer image";
  grid-template-columns: auto min-content;
}
.news-item-image {
  grid-area: image;
}
.news-item-body {
  grid-area: body;
}
.news-item-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: normal;
  text-transform: capitalize;
  line-height: 45px;
}
.news-item-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;
  margin-bottom: 48px;
}
.news-item-author-name {
  color: #f89202;
  font-size: 12px;
  text-transform: uppercase;
}
.news-item-date {
  font-size: 12px;
}
.news-item-footer {
  grid-area: footer;
}
@media screen and (max-width: 1239.97px) {
  .news-item {
    grid-template-areas: "image image" "body body" "footer footer";
  }
  .news-item-image {
    margin-bottom: 50px;
    max-width: 100%;
  }
}

.app-image {
  max-width: 333px;
  height: auto;
  margin: 0 auto;
  background-size: cover;
}

.footer-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 270px;
  margin-bottom: 75px;
}
.footer-col-title {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 16px;
}
@media screen and (max-width: 1239.97px) {
  .footer-col {
    margin-bottom: 30px;
  }
}

.footer-link {
  color: #e0e0e0;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.divider {
  height: 2px;
  margin: 0 0 40px;
  background-color: #cacaca;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
}

.artist-description-buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
}
.artist-description-buttons > .btn {
  width: 200px;
  text-align: start;
}
@media screen and (max-width: 1239.97px) {
  .artist-description-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 24px;
  }
}

.popular-tracks {
  display: grid;
  gap: 50px 25px;
  grid-template-columns: 1fr 1fr;
}
.popular-tracks-cover {
  width: 55px;
  height: 55px;
}
.popular-tracks-info {
  display: grid;
  grid-template-areas: "cover song time" "cover author time";
  grid-template-columns: min-content auto min-content;
  align-items: center;
  width: 100%;
  column-gap: 15px;
  font-size: 12.8px;
}
.popular-tracks-cover {
  grid-area: cover;
}
.popular-tracks-song {
  grid-area: song;
}
.popular-tracks-author {
  grid-area: author;
}
.popular-tracks-time {
  grid-area: time;
}
@media screen and (max-width: 1239.97px) {
  .popular-tracks {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=app.css.map */
