@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  src: url("../fonts/Roboto-Bold.ttf");
}

