* {
  font-family: Roboto, sans-serif;
}

body {
  color: $body-color;
  font-size: 18px;
  line-height: 1.5;

  background-color: $body-bg;
}

h1 {
  font-size: 60px;
  line-height: 90px;

  @include media(mobile) {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;

  @include media(mobile) {
    font-size: 18px;
    line-height: 27px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-transform: uppercase;
  color: $main-text-color;
}

a {
  color: $body-color;
}
