.container {
  max-width: $container-width;
  margin: 0 auto;

  @include media(mobile) {
    max-width: none;
    padding: 0 20px;
  }
}

.flex {
  @include flex();

  &-column {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-align-center {
    align-items: center;
  }

  &-justify-center {
    justify-content: center;
  }
}
