.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.mx-auto {
  margin: 0 auto;
}

.ms-auto {
  margin-left: auto;
}

.section {
  padding-top: 100px;
}

.section-same-paddings {
  padding-top: 100px;
  padding-bottom: 100px;
}

.limit-content {
  max-width: $content-max-width  + $content-padding * 2;
  padding: 0 $content-padding;
}
