.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.mx-auto {
  margin: 0 auto;
}

.ms-auto {
  margin-left: auto;
}

.limit-content {
  max-width: $content-max-width  + $content-padding * 2;
  padding: 0 $content-padding;
  margin: 0 auto;
}

.max-width-600 {
  max-width: 600px;
}

.grid {
  display: grid;
  gap: 25px 50px;

  &--items-2 {
    grid-template-columns: repeat(2, 1fr);

    @include media(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &--items-4 {
    grid-template-columns: repeat(4, min-content);

    @include media(mobile) {
      grid-template-columns: repeat(2, min-content);
    }
  }
}

.popular-tracks-cover {
  width: 55px;
  height: 55px;
}

.nowrap {
  white-space: nowrap;
}

.lh-1 {
  line-height: map-get($font-sizes, 1);
}
