@mixin media($type: mobile, $custom: null) {
  $max-width: if($type == custom, $custom, map-get($breakpoints, $type));

  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin flex($gap: null, $direction: null, $items: null) {
  display: flex;
  flex-direction: $direction;
  align-items: $items;
  flex-wrap: wrap;

  @if ($direction == null or $direction == row) {
    column-gap: $gap;
  } @else {
    row-gap: $gap;
  }
}

@mixin bg-image($url) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
}
