$black: #08020d;
$white: #ffffff;
$gray: #e0e0e0;
$dark-gray: #cacaca;
$dark: #3c3b3d;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;

/** THEME VARS **/

$font-family-base: Roboto, sans-serif;

$primary: $green;

$main-text-color: $white;
$secondary-text-color: $dark-gray;

$body-color: $secondary-text-color;
$body-bg: $black;

$bg-opacity-hover: 10%;
$bg-opacity-focus: 15%;

/** GRID **/

$breakpoints: (
  mobile: 1239.97px
);
$content-max-width: 1200px;
$content-padding: 20px;

/** COMPONENTS **/

$btn-pill-radius: 32px;
$buttons: (
  primary: (
    color: $primary,
    text-color: $main-text-color
  ),
  red: (
    color: $red,
    text-color: $main-text-color
  ),
  purple: (
    color: $purple,
    text-color: $main-text-color
  )
);
$buttons-outline: (
  white: $white,
  dark-gray: $dark-gray
);

$footer-link-color: $gray;

$input-background-hover: rgba($main-text-color, $bg-opacity-hover);
$input-background-focus: rgba($main-text-color, $bg-opacity-focus);
$input-border-hover: 2px solid $secondary-text-color;
$input-border-focus: 2px solid $primary;
$input-color: $main-text-color;

$line-height: 1.5;

$link-color: $body-color;
$link-hover-color: lighten($body-color, 10);
$link-active-color: $main-text-color;

$search-placeholder-color: #757575;
$search-border-hover-color: $search-placeholder-color;
$search-border-focus-color: $primary;

$btn-transition: color 0.25s, background-color 0.25s;
$form-transition: color 0.25s, background-color 0.25s, box-shadow 0.25s;

/** SIZES **/
/** These values are used to generate utilities. Also you need to use it for our own css components **/

$spacers: (
  0: 0,
  1: 16px,
  2: 24px,
  3: 32px,
  4: 40px,
  5: 48px,
  6: 56px,
  7: 64px,
  8: 78px,
  9: 90px
);

$font-sizes: map-merge(
  (
    ultra-small: 11px,
    small: 13px
  ),
  $spacers
);
